.forgot-password-page {
  background: var(--background-color);

  .form-submit {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    background: var(--background-color-1);

    label {
      margin-bottom: 7px;
      font-size: 14px;
    }

    .btn-submit {
      width: 100%;
      background: var(--primary-color);
      color: var(--txt-color-2);
    }
  }
}
