.select-custom {
    background-color: var(--background-input);
    outline: none;
    box-shadow: none;
    font-size: 16px;
    color: var(--txt-color);
    border-radius: 0.3rem;

    &__control {
        background-color: var(--background-input) !important;
        border: 1px solid var(--border-color) !important;
        height: 45px;

        &:focus,
        &:active,
        &:hover {
            color: var(--txt-color);
            box-shadow: none;
            border-color: var(--border-color-focus) !important;
            outline: none;
        }

        &--is-focused {
            color: var(--txt-color);
            box-shadow: none;
            border-color: var(--border-color-focus) !important;
            outline: none;
        }
    }

    &__single-value {
        color: var(--txt-color) !important;
    }

    &__menu {
        background-color: var(--background-input) !important;
        box-shadow: var(--box-shadow);
    }

    .select-custom__option {
        cursor: pointer;

        &--is-focused {
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }
        }

        &:hover {
            background-color: var(--border-color-modal);
        }

        &--is-selected {
            background-color: var(--primary-color) !important;

            &:hover {
                background-color: var(--border-color-modal);
            }
        }
    }

    .select-custom__indicator-separator {
        background-color: transparent;
    }
}

.select-capitalize {
    background: var(--background-color-2);
    font-size: 1.2rem;
    cursor: pointer;
    @include br(0);
    border: none;
    margin-left: 15px;
    padding: 10px;
}
