.slider-custom {
  .rc-slider-mark-text {
    font-size: 10px;
  }

  .rc-slider-track {
    background-color: var(--txt-color);
  }

  .rc-slider-rail {
    background-color: var(--txt-color);
  }
}
