.top-nav-auth-component {
  .box-logo {
    height: 100px;
    display: flex;
    align-items: center;

    img {
      box-sizing: border-box;
      height: 80px;
      object-fit: contain;
    }

    .text-company-name {
      height: 40px;
      object-fit: contain;
      margin-left: 10px;
    }
  }

  .box-route {
    display: flex;
    align-items: center;
    height: 45px;

    a {
      color: var(--txt-color);
      margin-right: 15px;
      transition: all 0.3s;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        transition: all 0.3s;
        font-weight: bold;
        transform: scale(1.2);
      }
    }
  }
}

[data-theme="dark"] {
  .top-nav-auth-component {
    .box-logo {
      .text-company-name {
        filter: invert(0);
      }
    }
  }
}
