.search-page {
    padding-top: 60px;
    padding-bottom: 60px;

    .title {
        font-weight: bold;
        font-size: 35px;
    }

    .title,
    .subtext-result {
        text-align: center;
    }
}
