@import "./components/index.scss";
@import "./pages/index.scss";
@font-face {
  font-family: "RV-Harmonia";
  src: local("RV-Harmonia"), url("../fonts/RV-Harmonia-Regular.ttf") format("truetype");
  font-weight: normal;
}

// @font-face {
//   font-family: "RV-Harmonia";
//   src: local("RV-Harmonia"), url("../fonts/RV-Harmonia-Light.ttf") format("truetype");
//   font-weight: normal;
// }

@font-face {
  font-family: "RV-Harmonia";
  src: local("RV-Harmonia"), url("../fonts/RV-Harmonia-Bold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --font-color: #333333;
  --background-color: #fdf2ec;
  --background-color-1: #ffffff;
  --background-color-2: #faf9f5;
  --background-color-3: #bc2029;
  --layout-user-background-color: #fff;
  --layout-user-background-color-2: #e7e6e4;
  --link-color: #bc2029;
  --link-color-hover: #ecbe26;
  --txt-color: #333333;
  --txt-color-1: #888888;
  --txt-color-2: #ffffff;
  --txt-white: #ffffff;
  --background-input: #ffffff;
  --background-input-disabled: #f9f9f9;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --border-color: #cdcdcd;
  --border-color-focus: #555555;
  --primary-color: #bc2029;
  --secondary-color: #ecbe26;

  --blur-background2: rgba(255, 255, 255, 0.7);

  --toastify-color-light: #fff;
  --toastify-color-dark: #232323;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
}

[data-theme="dark"] {
}
.ml-1 {
  margin-left: 1rem;
}

body {
  background-color: var(--background-color-1);
  color: var(--font-color);
  font-family: "RV-Harmonia";
  font-size: 17px;

  .application {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 100%;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: var(--background-color);
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--font-color);
  }
}

.primary {
  color: var(--primary-color);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: var(--link-color-hover);
    transition: all 0.3s;
  }
}

.text-error {
  text-align: left;
  color: #ff3333;
  margin: 5px 0;
  font-size: 14px;
}

input[type="file"] {
  display: none;
}

.text-break-ellipsis-two-lines {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.title {
  h2,
  h3,
  h4 {
    font-size: 32px;
    margin-bottom: 0;

    @include tablet {
      font-size: 29px;
    }
  }

  &--page {
    background: var(--background-color);
    color: var(--primary-color);
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 15px;

    h2,
    h3,
    h4 {
      font-size: 32px;
      margin-bottom: 0;

      @include tablet {
        font-size: 25px;
      }
    }
  }

  &--center {
    color: var(--txt-color);
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }

  &--normal {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;

    p {
      font-size: 16px;
      color: var(--txt-color);
      font-weight: normal;
      text-transform: initial;
      display: block;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

.up {
  text-transform: uppercase;
}

img,
svg {
  max-width: 100%;
  height: unset;
}

.gap {
  &--15 {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
  }
  &--20 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
  }
  &--30 {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
  }
  &--60 {
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
    @include mobile {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &--90 {
    padding-top: 90px;
    padding-bottom: 90px;
    display: block;
  }
}

.btn {
  padding-top: 7px;
  &:focus {
    background-color: transform;
    border-color: transparent;
    @include bs(none);
  }
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);

  &:hover,
  &:focus {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    @include bs(none);
  }

  &.disabled,
  &:disabled {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    pointer-events: none;
    opacity: 0.65;
  }
}

.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);

  &:hover,
  &:focus {
    color: var(--txt-color-2);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    @include bs(none);
  }
}

.btn-link {
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
  color: var(--link-color);
  padding: 10px 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: transparent;
    @include bs(none);
    color: var(--link-color-hover);
    transition: all 0.3s;
  }
}

.bg {
  background: var(--background-color);
  &--1 {
    background: var(--background-color-1);
  }
  &--2 {
    background: var(--background-color-2);
  }
}

.form-check-label {
  cursor: pointer;
}

@include mobile {
  .Toastify__toast-container {
    width: 100%;
    max-height: 65px;
    overflow: hidden;
    margin: 0;
  }
}
